@font-face {
    font-family: "MTSCompact-Regular";
    src: local("MTSCompact-Regular"),
    url("./fonts/MTSCompact-Regular.woff2") format("woff2"),
    url("./fonts/MTSCompact-Regular.woff") format("woff"),
    url("./fonts/MTSCompact-Regular.ttf") format("truetype"),
    url("./fonts/MTSCompact-Regular.eot?#iefix") format("embedded-opentype"),
    url("./fonts/MTSCompact-Regular.eot");
}
@font-face {
    font-family: "MTSCompact-Medium";
    src: local("MTSCompact-Medium"),
    url("./fonts/MTSCompact-Medium.woff2") format("woff2"),
    url("./fonts/MTSCompact-Medium.woff") format("woff"),
    url("./fonts/MTSCompact-Medium.eot"),
    url("./fonts/MTSCompact-Medium.eot?#iefix") format("embedded-opentype");
}

body {
    font-family:"MTSCompact-Regular";
    background-color: #F2F3F7;
    margin: 0;
}
